/* Palette de bleu #4483b4	rgb(68, 131, 180)
Palette bleu clair #91c7e2	rgb(145, 199, 226)
*/


@font-face {
    font-family: "gloss and bloom", "Lora";
    src: url("/assets/Gloss_And_Bloom.ttf"),
         url("/assets/Gloss_And_Bloom.ttf"),
         url("/assets/static/Lora-Bold.ttf"),
         url("/assets//static/Lora-Medium.ttf"),
         url("assets/static/Lora-Regular.ttf");

   }
   body{
       margin: 0px;
       padding: 0px;

   }
ul li{
    list-style-type:none;
    margin: 10px;
    color: white;


}

p{
    font-family: 'gloss and bloom';
}
.citation{
    font-size: 20px;
    font-family: 'Lora', monospace;
}

.citation2{
    font-style: italic;
    font-family: 'Lora', monospace;

}
.logoH{
    height: 20px;
}

.menu{ 
    display: flex;              /* Transformation en flexbox */
    padding:0; 
    margin-top: 0px; 
    justify-content: right;                 /* Suppression des marges internes */
}


h1{
    font-family: "gloss and bloom";
    font-size: 40px;
    color: white;
}


p{
    padding-top: 20px;
    text-align: right;
}
.photo{
    width: 50%;
    height: fit-content;
    transform: translate(0, -100px);
}
.encart{
    display: flex;
    height: 300px;
}

.div{
    display: flex;
    justify-content: center;
   width: 50%;
}

.header{
    background: #91c7e2;
}
/* marge bottom en negatif */

.backDiv{
    background: #4483b4;
    margin-bottom: -5%;
    margin-left: auto;
    padding: 50px 45px 50px 45px;
    width: 45%;
    }

.backDiv h2, .backDiv p{
    text-align: center;
    color: white;
    font-family: 'Lora', monospace;

}

.bio{
    padding-top: 15%;
    
}

.bio h2{
    text-align: center;
    font-family: "gloss and bloom";
    font-size: 40px;
}
.bio p{
    text-align: center;
    font-size: 18px;
    font-family: 'Lora', monospace;
}
.skill{
    background: #4483b4;
    padding-bottom: 3%;

}

.skill h2{
    font-family: "gloss and bloom";
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 3%;
}

.skill p{
    text-align: center;
}

.placeBar{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-left: 15%;
    margin-right: 15%;
}
.placeBar progress{

    width: 80%;
}
/* .experience{
    background-image: url(/assets/books_759.jpg);
} */
.experience h2{
    text-align: center;
    font-family: "gloss and bloom";
    font-size: 40px;
}

.experience p{
    font-family: 'Lora', monospace;
    text-align: center;
    font-size: 18px;
}

.footer{
    background: #91c7e2;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 10px;
}

.footer p{
    
    text-align: center;
    color: white;
}

.logolinkedin{
    height: 50px;

}

.utecClef{
    text-align: center;
    padding-top: 3%;
}
.BTS h2{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
.BTS p{
    text-align: center;
    font-size: 18px;
    font-family: 'Lora', monospace;
}
.logoutec{
    height: fit-content;
    transform: translate(0, 215px);
}
.logobee{
    width: 50%;
    height: fit-content;
    transform: translate(0, 215px);
}
.projetU{
    background: #4483b4;
    text-align: center;

}
.projetU p{
    text-align: center;
    text-align: center;
    font-size: 18px;
    font-family: 'Lora', monospace;
}
.projetU h2{
    font-family: "gloss and bloom";
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 3%;
}

.teasersaiil{
    width: 50%;
    height: 50%;
}
.teasersaiil2{
    width: 25%;
    height: 25%;
}
.teaserimage{
    text-align: center;
}

.placeBar2{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-left: 15%;
    margin-right: 15%;
}
.placeBar2 progress{

    width: 80%;
}

table,
td {
    border: 1px solid #333;
}

.netvibes{
    width: 50%;
    height: fit-content;
    transform: translate(0, 215px);
}

.divnetvibes{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:2%;
}